@charset "UTF-8";
body,
html {
  background: #181818;
  font-family: "Josefin Sans", sans-serif;
  padding: 20px;
}

.hidden {
  overflow: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-size: 19px;
  font-family: "Josefin Sans", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  line-height: 27px;
}

/* обязательно установите некоторые стили фокусировки для обеспечения доступности */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Правильное отображение встроенного блока, не определенное в IE 6/7/8/9 и Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Запретите современным браузерам отображать "аудио` без элементов управления.
 * Удалите лишнюю высоту на устройствах iOS 5.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Стиль адреса отсутствует в IE 7/8/9, Firefox 3 и Safari 4.
 * Известная проблема: нет поддержки IE6.
 */
[hidden] {
  display: none;
}

/**
 * 1. Исправьте странное изменение размера текста в IE6 / 7, когда размер шрифта тела задан с помощью
 * единицы измерения `em`.
 * 2.Запретить настройку размера текста iOS после изменения ориентации, не отключая
 * пользовательское масштабирование.
 */
html {
  font-weight: 300;
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Устраните несоответствие `контура` между Chrome и другими браузерами.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Улучшите читаемость при фокусировке, а также при наведении курсора мыши во всех браузерах.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Удалите границу внутри элемента `a` в IE 6/7/8/9 и Firefox 3.
 * 2. Улучшите качество изображения при масштабировании в IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Поле адреса отсутствует в IE 6/7/8/9, Safari 5 и Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Правильное поле странно отображается в IE6/7.
 */
form {
  margin: 0;
}

/**
 * Определите согласованную границу, поля и отступы.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

button {
  cursor: pointer;
}

button,
input {
  line-height: normal;
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
}

input:focus, button:focus {
  outline: none;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #323232;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.button {
  background: rgba(41, 187, 5, 0.26);
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 10px;
  margin-right: 20px;
  color: rgb(224, 224, 224);
}

.button:hover {
  box-shadow: 0 5px 15px #49b84e;
}

.dropdown {
  display: flex;
  justify-content: center;
  margin-right: 83px;
}
@media (max-width: 768px) {
  .dropdown {
    margin-right: 235px;
  }
}

.modal {
  visibility: hidden;
  position: absolute;
  transition: 0.25s ease-out;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 60px 15px;
}

.modal__active {
  position: fixed;
  top: 300px;
  visibility: visible;
  opacity: 1;
  transition: 0.25s ease-out;
}

.modal__content {
  width: 100%;
  max-width: 325px;
  padding: 50px;
  padding-left: 55px;
  background: rgb(18, 71, 4);
  border-radius: 10px;
  position: relative;
  box-shadow: 0 5px 15px rgba(239, 241, 239, 0.4941176471);
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.modal__content p {
  color: rgb(224, 224, 224);
}
.modal__content a {
  text-decoration: none;
  color: inherit;
}

.modal__content a:hover {
  color: rgb(199, 198, 198);
  transform: 0.25s ease-out;
}

.modal__close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  opacity: 0.2;
  cursor: pointer;
  transition: ease 0.5s;
}
.modal__close-button:hover {
  opacity: 1;
}

.modal__content p::before .modal__close-button::before,
.modal__close-button::after {
  content: "";
  position: absolute;
  top: 10px;
  display: block;
  width: 10px;
  height: 3px;
  background: #323232;
}

.modal__close-button::before {
  transform: rotate(45deg);
}

.modal__close-button::after {
  transform: rotate(-45deg);
}

.hidden {
  overflow: hidden;
}

.shadow-fitch {
  width: 1140px;
  margin: auto;
  padding: 10px 10px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
@media (max-width: 768px) {
  .shadow-fitch {
    width: 660px;
  }
}
@media (max-width: 768px) and (max-width: 428px) {
  .shadow-fitch {
    width: 428px;
  }
}

.header__img {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 300px;
  z-index: 1;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .header__img img {
    padding-left: 130px;
    width: 160px;
    position: relative;
    display: inline-block;
  }
}

.header__img::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  left: -100px;
  background-color: rgba(41, 187, 5, 0.26);
  z-index: -1;
  opacity: 0.24;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .header__img::before {
    width: 70%;
    top: -15px;
    left: 81px;
  }
}

.skills__name::after {
  content: "";
  width: 100%;
  top: -8px;
  left: 0;
  right: 0;
  bottom: -10px;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
  background: rgba(41, 187, 5, 0.26);
  box-shadow: rgb(36, 180, 126) 5px 5px, rgba(39, 180, 110, 0.3) 10px 10px, rgba(0, 214, 107, 0.2) 15px 15px, rgba(43, 182, 9, 0.1) 20px 20px, rgba(34, 134, 9, 0.05) 25px 25px;
}
@media (max-width: 768px) {
  .skills__name::after {
    width: 100%;
  }
}

.header {
  margin-top: 100px;
  background: rgb(24, 24, 24);
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__title {
  color: rgb(224, 224, 224);
  max-width: 680px;
  text-align: right;
}
.header__title h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.header__title p {
  font-size: 20px;
}
.header__title span {
  display: block;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .header__title {
    max-width: 370px;
  }
  .header h1 {
    font-size: 25px;
  }
  .header p {
    font-size: 15px;
    margin-bottom: 20px;
  }
  .header span {
    font-size: 15px;
  }
}

.container {
  width: 1190px;
  margin: auto;
}
@media (max-width: 768px) {
  .container {
    width: 668px;
  }
}
@media (max-width: 428px) {
  .container {
    width: 400px;
  }
}

.project {
  margin-bottom: 100px;
}

.project__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project__wrapper h3 {
  width: 300px;
}
@media (max-width: 428px) {
  .project__wrapper {
    width: 266px;
    margin-left: 40px;
  }
  .project__wrapper .skills__name {
    width: 150px;
  }
}

.app {
  display: flex;
  justify-content: space-around;
}

.experience {
  margin-bottom: 30px;
}
.experience__wrapper {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 428px) {
  .experience__wrapper {
    display: block;
    margin-left: 40px;
  }
}

.experience__colum {
  display: block;
  padding-bottom: 20px;
  width: 300px;
  text-align: left;
  position: relative;
}
@media (max-width: 768px) {
  .experience__colum {
    width: 266px;
  }
  .experience__colum .skills__name {
    width: 150px;
    margin: auto;
    margin-bottom: 40px;
  }
}

.experience__colum-list {
  width: 400px;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .experience__colum-list {
    width: 266px;
  }
  .experience__colum-list li {
    font-size: 15px;
  }
}

.experience__desc {
  padding-top: 10px;
  font-size: 19.4px;
}

.experience__colum-list h3 {
  font-size: 26px;
  color: rgb(224, 224, 224);
  line-height: 1.4em;
}
@media (max-width: 768px) {
  .experience__colum-list h3 {
    font-size: 19px;
  }
}

.experience__colum-list span {
  font-size: 26px;
  padding-left: 9px;
}
@media (max-width: 768px) {
  .experience__colum-list span {
    font-size: 22px;
    padding-left: 5px;
  }
}

.education__colum {
  width: 300px;
}
@media (max-width: 768px) {
  .education__colum .skills__name {
    margin-bottom: 30px;
    width: 250px;
  }
}
@media (max-width: 768px) and (max-width: 428px) {
  .education__colum {
    width: 266px;
  }
  .education__colum .skills__name {
    width: 150px;
    margin: auto;
    margin-bottom: 40px;
  }
  .education__colum .education__desc {
    text-align: left;
  }
}

.education__desc {
  font-size: 23.5px;
  line-height: 1.7em;
  color: rgb(224, 224, 224);
  font-weight: bold;
  text-align: center;
}
@media (max-width: 768px) {
  .education__desc {
    font-size: 19;
  }
}

.education__desc span {
  color: orange;
  font-size: 23.5px;
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0;
}
@media (max-width: 768px) {
  .education__desc span {
    font-size: 20px;
  }
}

.description-text {
  color: rgb(224, 224, 224);
  font-size: 19.5px;
  line-height: 1.2em;
}
@media (max-width: 768px) {
  .description-text {
    font-size: 19px;
  }
}

.navigation {
  display: block;
  margin-top: 25px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgba(165, 164, 164, 0.37);
}
.navigation__cosial {
  display: flex;
  justify-content: center;
}

.ico__social {
  margin-right: 40px;
}
@media (max-width: 768px) {
  .ico {
    max-width: 488px;
  }
  .ico .ico {
    width: 20px;
  }
}

.skills {
  margin-top: 100px;
  margin-bottom: 60px;
}
@media (max-width: 768px) {
  .skills {
    padding: 0 10px;
  }
}
@media (max-width: 428px) {
  .skills {
    margin-left: 100px;
  }
}

.hard__skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 428px) {
  .hard__skills .skills__name {
    margin-bottom: 40px;
  }
}

.skills-ico {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 300px;
}
@media (max-width: 768px) {
  .skills-ico {
    width: 150px;
    height: 170px;
  }
}
@media (max-width: 428px) {
  .skills-ico {
    margin-bottom: 30px;
  }
}

.skills-ico .ico__left {
  margin-left: -50px;
}

.skills-ico .ico__right {
  margin-left: 100px;
}

.skills__wrapper {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  margin-right: 50px;
}
@media (max-width: 768px) {
  .skills__wrapper {
    margin-right: 60px;
  }
}
@media (max-width: 428px) {
  .skills__wrapper {
    display: block;
    margin-right: 0px;
  }
}

.skills__name {
  color: rgb(224, 224, 224);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  position: relative;
  text-align: center;
  padding: 10px;
  text-transform: uppercase;
  margin-bottom: 60px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .skills__name {
    width: 150px;
    font-size: 17px;
  }
}

.soft__skills {
  position: relative;
  width: 300px;
}
@media (max-width: 768px) {
  .soft__skills {
    width: 180px;
  }
}
@media (max-width: 428px) {
  .soft__skills .skills__name {
    margin-bottom: 40px;
  }
}

.soft__skills-list {
  color: rgb(224, 224, 224);
}

.soft__skills-colum {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
}

.soft__skills-desc {
  font-size: 23.5px;
  margin-bottom: 15px;
  padding-left: 55px;
  width: 300px;
}
@media (max-width: 768px) {
  .soft__skills-desc {
    font-size: 18.5px;
    margin-bottom: 15px;
    padding-left: 0px;
    width: 200px;
  }
}

.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  flex-direction: column;
}
@media (max-width: 768px) {
  .technologies {
    width: 180px;
  }
}
@media (max-width: 428px) {
  .technologies {
    margin-bottom: 20px;
  }
  .technologies .skills__name {
    margin-bottom: 40px;
  }
}

.footer__desc {
  margin-bottom: 30px;
  padding: 10px;
  border-top: 1px solid rgba(165, 164, 164, 0.37);
}
.footer__desc p {
  color: rgb(224, 224, 224);
  font-size: 23.5px;
  text-align: center;
  font-weight: bold;
}

/*# sourceMappingURL=style.css.map */
