$color-accent:				#d32f2f;
$color-background:		#3d3d3d;
$heading:							#eceff1;
$heading-h2:					#ff8a80;
$text:								#eeeeee;
$regular-text:				10px;
$lineheight:					1.65;
$userfont:						roboto-st, sans-serif;
$systemfont:					apple-system, BlinkMacSystemFont, Arial, sans-serif;
$content-width:				1296px;
$tablet-width:				768px;
$mobile-big-width:		414px;
$mobile-small-width:	320px;
