$color-accent:				rgba(36, 180, 126, 1);
$color-background:		rgba(24, 24, 24, 1);
$heading:							#ffff;
$text:								rgba(224, 224, 224, 1);
$tablet-width:				768px;
$mobile-big-width:		414px;
$mobile-small-width:	320px;

$content-width: 1197px;
$tablet-width: 768px;
$mobile-big-width: 428px;
$mobile-small-width: 360px;

