.button{
	background: rgba(41, 187, 5, 0.26);
	font-size: 14px;
	text-transform: uppercase;
	padding: 10px 25px;
	border-radius: 10px;
	margin-right: 20px;
	color: rgba(224, 224, 224, 1);
}
.button:hover {
	box-shadow:0 5px 15px #49b84e;

}
