.experience {
	margin-bottom: 30px;

	
}
.experience__wrapper {
	display: flex;
	justify-content: space-evenly;

	@include media-mobile {
		width: 380px;
		display: grid;
		margin: auto;
		// margin-left: 40px;
	}

}
.experience__colum {
	display: block;
	padding-bottom: 20px;
	width: 300px;
	text-align: left;
	position: relative;

	@include media-tablet {
		.skills__name {
			width: 150px;
			margin: auto;
			margin-bottom: 40px;

		}
		width: 266px;
	}
	@include media-mobile {

		width: 180px;
	}
}
.experience__colum-list {
	width: 400px;
	margin-bottom: 30px;

	@include media-tablet {
		li {
			font-size: 15px;
		}
		width: 266px;
	}
}

.experience__desc {
	padding-top: 10px;
	font-size: 19.4px;
}
.experience__colum-list h3 {
	font-size: 26px;
	color: $text;
	line-height: 1.4em;
	// text-align: center;

	@include media-tablet {
		font-size: 19px;
	}
}
.experience__colum-list span {
	font-size: 26px;
	padding-left: 9px;

	@include media-tablet {
		font-size: 22px;
		padding-left: 5px;
	}
}
.education__colum {
	width: 300px;

	@include media-tablet {
		
		.skills__name {
			margin-bottom: 30px;
			width: 250px;
		}

		@include media-mobile {
			.skills__name {
				width: 150px;
				// margin: auto;
				margin-bottom: 40px;

			}
			width: 180px;

			.education__desc {
				text-align: left;
			}
		}
	}
}
.education__desc {
	font-size: 23.5px;
	line-height: 1.7em;
	color: $text;
	font-weight: bold;
	text-align: center;

	@include media-tablet {
		font-size: 19;
	}

	@include media-mobile {
		font-size: 15px;
	}
}
.education__desc span {
	color: orange;
	font-size: 23.5px;
	text-transform: uppercase;
	font-weight: bold;
	padding-left: 0;

	@include media-tablet {
		font-size: 20px;
	}

	@include media-mobile {
		font-size: 17px;
	}
}
.description-text {
	color: $text;
	font-size: 19.5px;
	line-height: 1.2em;

	@include media-tablet {
		font-size: 19px;
	}

	@include media-mobile {
		font-size: 15px;
	}
}
