.header{
	background-color: $color-background;
	margin-bottom: 30px;
}
.header__disc{
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	text-align: center;
	padding-top: 15px;
	color: $heading;
}
