.navigation {
	display: block;
	margin-top: 25px;
	padding-bottom: 4px;
	border-bottom: 1px solid  rgba(165, 164, 164, 0.37);


		&__cosial {
			display: flex;
			justify-content: center;

		}

		@include media-mobile {
			&__cosial {
				display: block;
			}
		}
}
.ico {

	&__social {
		margin-right: 40px;

	}

	@include media-tablet {
		max-width: 488px;

		.ico {
			width: 20px;
		}
	}
}

