.skills {
	margin-top: 100px;
	margin-bottom: 60px;

	@include media-tablet {
		// padding: 0 10px ;
	}

	@include media-mobile {
		// display: grid;
		
	}

	@include media-mobile_small {
		// display: grid;
	}
}
.hard__skills {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;

	@include media-mobile {
		width: 180px;

		.skills__name {
			width: 150px;
			margin-bottom: 40px;
		}
	}
}

.skills-ico {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	width: 300px;

	@include media-tablet {
		width: 150px;
		height: 170px;
	}

	@include media-mobile {
		width: 150px;
		margin-bottom: 30px;	
	}
}
.skills-ico .ico__left {
	margin-left: -50px;
}
.skills-ico .ico__right {
	margin-left: 100px;
}
.skills__wrapper {
	display: flex;
	justify-content: space-around;
	flex-direction: row-reverse;
	margin-right: 50px;

	@include media-tablet {
		margin-right: 0px;
	}

	@include media-mobile {
		display: grid;
		margin-right: 0px;
	}
}
.skills__name {
	color: $text;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: bold;
	position: relative;
	text-align: center;
	padding: 10px;
	text-transform: uppercase;
	margin-bottom: 60px;
	font-weight: bold;
	
	@include media-tablet {
		width: 150px;
		font-size: 17px;
	}
	@include media-mobile {
		display: block;
		// margin-right: 0px;
	}
}
	
.soft__skills {
	position: relative;
	width: 300px;

	@include media-tablet {
		width: 180px;
	}

	@include media-mobile {
		width: 150px;

		.skills__name {
			margin-bottom: 40px;
		}	
	}
}
.soft__skills-list {
	color: $text;
}
.soft__skills-colum {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
}

.soft__skills-desc {
	font-size: 23.5px;
	margin-bottom: 15px;
	padding-left: 55px;
	width: 300px;

	@include media-tablet {
		 
			font-size: 18.5px;
			margin-bottom: 15px;
			padding-left: 0px;
			width: 200px;
		
	}
}
.technologies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;

	@include media-tablet {
		width: 180px
	}

	@include media-mobile {
		.skills__name {
			margin-bottom: 40px;
		}
		margin-bottom: 20px;
	}
}



